

GOOGLE_SHEET_ID=1VzYeKZ1wc6qxcDzxQab0goWTf1YIuPwNlAPvWbzFiww


GOOGLE_SERVICE_ACCOUNT_EMAIL=finance-sheets-admin@webapp-491910.iam.gserviceaccount.com


GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nMIIEvQIBADANBgkqhkiG9w0BAQEFAASCBKcwggSjAgEAAoIBAQDhXcxmPoJzhWp4\ni+7DkKgLBgsp7td5XmvvNunxQNrX0k24e0SAZHxXtJ6bMt9xCDXqdchDcGu1vTo+j1d2KqX0vq46qIJcX3X3L7O6RbLJvxehteq62KbfQr\nl5yL0co8HLocHNYvP09pZG8=\n-----END PRIVATE KEY-----\n"


PORT=3003

ALLOWED_ORIGINS=http://localhost:3001


FRONTEND_URL=http://localhost:3001


API_KEY=kalit



# bot
TELEGRAM_BOT_TOKEN=8669387122:AAF4DflaG3feXu9ltHfBnQKnNZsjwusuljI
ALLOWED_ADMINS=6779915471
WEB_APP_URL=https://cash-flow-virid.vercel.app
WEBHOOK_URL=https://cash-rho-eight.vercel.app
NODE_ENV=development

